{% extends 'base.html' %}

{% block title %}Prendas{% endblock %}

{% block content %}
        <section class="prendas-section">
            <h2>Prendas Destacadas</h2>
            <div class="prendas-container">
                <div class="prenda-card">
                    <img src="" alt="Prenda 1">
                    <h3>Nombre de la Prenda 1</h3>
                    <p>Descripción breve de la prenda 1.</p>
                </div>
                <div class="prenda-card">
                    <img src="" alt="Prenda 2">
                    <h3>Nombre de la Prenda 2</h3>
                    <p>Descripción breve de la prenda 2.</p>
                </div>
                <div class="prenda-card">
                    <img src="" alt="Prenda 3">
                    <h3>Nombre de la Prenda 3</h3>
                    <p>Descripción breve de la prenda 3.</p>
                </div>
                <div class="prenda-card">
                    <img src="" alt="Prenda 4">
                    <h3>Nombre de la Prenda 4</h3>
                    <p>Descripción breve de la prenda 4.</p>
                </div>
            </div>
        </section>
        <button class="action-button">¡Ver más!</button>

        <section class="nuevas-llegadas">
            <h2>Nuevas Llegadas</h2>
            <div class="prendas-container">
                <div class="prenda-card">
                    <img src="" alt="Nueva Prenda 1">
                    <h3>Nueva Prenda 1</h3>
                    <p>Descripción breve de la nueva prenda 1.</p>
                </div>
                <div class="prenda-card">
                    <img src="" alt="Nueva Prenda 2">
                    <h3>Nueva Prenda 2</h3>
                    <p>Descripción breve de la nueva prenda 2.</p>
                </div>
            </div>
        </section>
        <button class="action-button">¡Ver más!</button>

        <section class="ofertas-especiales">
            <h2>Ofertas Especiales</h2>
            <div class="prendas-container">
                <div class="prenda-card">
                    <img src="" alt="Oferta Prenda 1">
                    <h3>Oferta Prenda 1</h3>
                    <p>Descripción breve de la oferta prenda 1.</p>
                </div>
                <div class="prenda-card">
                    <img src="" alt="Oferta Prenda 2">
                    <h3>Oferta Prenda 2</h3>
                    <p>Descripción breve de la oferta prenda 2.</p>
                </div>

            </div>
        </section>
        <button class="action-button">¡Ver más!</button>

        {% endblock %}