{% extends 'base.html' %}

{% block title %}Sobre Nosotros{% endblock %}

{% block content %}
        
        <section class="sobre-nosotros">
            <section class="sobre-nosotros-card">
                <div class="card-sobre-nosotros">
            <div class="sobre-nosotros-content">
                <div class="texto-sobre-nosotros">
                    <h2>Sobre Nosotros</h2>
                    <p>
                        En nuestra plataforma, creemos en la moda circular y sostenible. 
                        Nuestro objetivo es ofrecer prendas de calidad que no solo sean 
                        elegantes, sino que también respeten el medio ambiente. 
                        Trabajamos con pasión para brindar a nuestros clientes una 
                        experiencia única, donde cada prenda cuenta una historia.
                    </p>
                    <p>
                        Somos más que una tienda de moda; somos una comunidad.
                        Nos apasiona conectar a personas que comparten el amor 
                        por la moda consciente y sostenible. Cada prenda que 
                        ofrecemos ha sido seleccionada con cuidado, pensando 
                        en su impacto en el medio ambiente y en la vida de quienes
                        la usan. Juntos, podemos hacer una diferencia y crear un mundo donde
                        la moda sea accesible y responsable. Nos basamos en las 3 fases de la 
                        moda circular.
                        
                    </p>
                    
                </div>
                <div class="imagen-sobre-nosotros">
                    <img src="" alt="Sobre Nosotros">
                </div>
                
            </div>
            </div>
        </section>
        </section>
        
        <section class="sobre-nosotros-cards">
            <h2>Nuestras Fases de Moda Circular</h2>
            <div class="cards-container">
                <div class="card">
                    <h3>Fase 1: Reducción</h3>
                    <img src="" alt="Fase 1">
                    <p>Reducir el consumo y optar por prendas de calidad que duren más.</p>
                </div>
                <div class="card">
                    <h3>Fase 2: Reutilización</h3>
                    <img src="" alt="Fase 1">

                    <p>Reutilizar prendas y darles una nueva vida a través del alquiler.</p>
                </div>
                <div class="card">
                    <h3>Fase 3: Reciclaje</h3>
                    <img src="" alt="Fase 1">

                    <p>Reciclar materiales para crear nuevas prendas y reducir residuos.</p>
                </div>
            </div>
        </section>
        
        <section class="mision-vision">
            <h2>Nuestra Misión y Visión</h2>
            <div class="mision-vision-container">
                <div class="card">
                    <h3>Misión</h3>
                    <p>
                        Nuestra misión es ofrecer prendas de moda sostenible que no solo sean elegantes, 
                        sino que también respeten el medio ambiente. Buscamos crear una comunidad 
                        consciente que valore la moda circular.
                    </p>
                </div>
                <div class="card">
                    <h3>Visión</h3>
                    <p>
                        Nuestra visión es ser líderes en la moda sostenible, promoviendo un cambio 
                        positivo en la industria. Queremos inspirar a las personas a hacer elecciones 
                        responsables y a adoptar un estilo de vida más sostenible.
                    </p>
                </div>
            </div>
        </section>
        
        {% endblock %}