.categories-section {
    text-align: center; /* Centra el texto */
    margin: 40px 0; /* Espaciado superior e inferior */
}

.categories-container {
    display: flex; /* Muestra las tarjetas en fila */
    justify-content: center; /* Centra las tarjetas */
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en varias filas */
}

h2, h3{
    color: green;
}

.category-card {
    background-color: white; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    margin: 10px; /* Espaciado entre tarjetas */
    padding: 10px; /* Espaciado interno */
    width: 200px; /* Ancho fijo para las tarjetas */
    text-align: center; /* Centra el texto */
    display: flex; /* Usar flexbox para alinear elementos */
    flex-direction: column; /* Alinear elementos en columna */
    justify-content: space-between; /* Espaciado uniforme entre elementos */
}

.category-image {
    width: 50%; /* Ancho completo */
    height: auto; /* Mantiene la proporción */
    border-radius: 50%;
    margin: 0 auto; /* Bordes redondeados para la imagen */
}