{% extends 'base.html' %}

{% block title %}Categorías{% endblock %}

{% block content %}
<section class="categories-section">
    <h2>Categorías</h2>
    <div class="categories-container">
        {% for categoria in categorias %}
            <div class="category-card">
                <h3>{{ categoria.nombre }}</h3>
                <img src="" alt="{{ categoria.nombre }}" class="category-image">
                <p>{{ categoria.descripcion }}</p>
                <a href="#" class="action-button">¡Ver más!</a>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}